# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Console/obj
/Console/bin
/Console2/bin/Debug
/Console2/obj
/DllTest/.vs
/DllTest/obj
/ImgFixing/ImgFixingLib/.vs
/ImgFixing/ImgFixingLib/bin
/ImgFixing/ImgFixingLib/obj
/ImgFixing/TestStartingPr/bin
/ImgFixing/TestStartingPr/obj
/WinFormsLib/StartingForm/bin
/WinFormsLib/StartingForm/obj
/WinFormsLib/WinFormsLib/.vs
/WinFormsLib/WinFormsLib/obj
/ImgAssembling/ImgAssembling/obj
/ImgAssembling/ImgAssembling/.vs
/ImgAssembling/TestProgram/obj
/NewImgFixingLib/NewImgFixingLib/.vs
/NewImgFixingLib/NewImgFixingLib/bin
/NewImgFixingLib/NewImgFixingLib/obj
/NewImgFixingLib/NewImgFixingLib/packages
/NewImgFixingLib/TestStartingPr/bin
/NewImgFixingLib/TestStartingPr/obj
/Console2/.vs
/ImgAssemblingLib/.vs
/ImgAssemblingLib/bin
/ImgAssemblingLib/obj
/ImgAssemblingLib/packages
/ImgAssemblingLib/StartTestProject/bin
/ImgAssemblingLib/StartTestProject/obj
/TestLib/.vs
/TestLib/obj
/TestLib/WindowsForms/obj
/NewImgFixingLib(OpenCvVersion)/NewImgFixingLib/.vs
/NewImgFixingLib(OpenCvVersion)/NewImgFixingLib/bin
/NewImgFixingLib(OpenCvVersion)/NewImgFixingLib/obj
/NewImgFixingLib(OpenCvVersion)/NewImgFixingLib/packages
/NewImgFixingLib(OpenCvVersion)/TestStartingPr/bin
/NewImgFixingLib(OpenCvVersion)/TestStartingPr/obj
/ImgAssemblingLib(OpenCvVersion)/bin/Debug
/ImgAssemblingLib(OpenCvVersion)/obj
/ImgAssemblingLib(OpenCvVersion)/packages
/ImgAssemblingLib(OpenCvVersion)/StartTestProject/bin
/ImgAssemblingLib(OpenCvVersion)/.vs
/ImgAssemblingLib(OpenCvVersion)/StartTestProject/obj
/AlfaPribor.ImgAssemblingLib(OpenCvVersion)/.vs
/AlfaPribor.ImgAssemblingLib(OpenCvVersion)/obj
/AlfaPribor.ImgAssemblingLib(OpenCvVersion)/packages
/AlfaPribor.ImgAssemblingLib(OpenCvVersion)/StartTestProject/bin
/AlfaPribor.ImgAssemblingLib(OpenCvVersion)/StartTestProject/obj
/AlfaPribor.ImgAssemblingLib(OpenCvVersion)/bin
/AlfaPribor.ImgAssemblingLib(OldCvVersion)/packages
/AlfaPribor.ImgAssemblingLib(OpenCvVersion)/AlfaPribor.Logs/.vs
/AlfaPribor.ImgAssemblingLib(OpenCvVersion)/AlfaPribor.Logs/AlfaPribor.Logs.Demo/obj
/AlfaPribor.ImgAssemblingLib(OpenCvVersion)/AlfaPribor.Logs/.vs
/AlfaPribor.ImgAssemblingLib(OpenCvVersion)/AlfaPribor.Logs/AlfaPribor.Logs.Demo/obj
/AlfaPribor.ImgAssemblingLib(25.02)/.vs
/AlfaPribor.ImgAssemblingLib(25.02)/obj
/AlfaPribor.ImgAssemblingLib(25.02)/packages
/AlfaPribor.ImgAssemblingLib(25.02)/StartTestProject/.vs
/AlfaPribor.ImgAssemblingLib(25.02)/StartTestProject/bin
/AlfaPribor.ImgAssemblingLib(25.02)/StartTestProject/obj
/AlfaPribor.ImgAssemblingLib(OldCvVersion)/.vs
/AlfaPribor.ImgAssemblingLib(OldCvVersion)/bin
/AlfaPribor.ImgAssemblingLib(OldCvVersion)/obj
/AlfaPribor.ImgAssemblingLib(OldCvVersion)/.vs
/AlfaPribor.ImgAssemblingLib(OpenCvVersion)/StartTestProject/.vs
