# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Console/obj
/Console/bin
/Console2/bin/Debug
/Console2/obj
/DllTest/.vs
/DllTest/obj
/ImgFixing/ImgFixingLib/.vs
/ImgFixing/ImgFixingLib/bin
/ImgFixing/ImgFixingLib/obj
/ImgFixing/TestStartingPr/bin
/ImgFixing/TestStartingPr/obj
/WinFormsLib/StartingForm/bin
/WinFormsLib/StartingForm/obj
/WinFormsLib/WinFormsLib/.vs
/WinFormsLib/WinFormsLib/obj
/ImgAssembling/ImgAssembling/obj
/ImgAssembling/ImgAssembling/.vs
/ImgAssembling/TestProgram/obj
/NewImgFixingLib/NewImgFixingLib/.vs
/NewImgFixingLib/NewImgFixingLib/bin
/NewImgFixingLib/NewImgFixingLib/obj
/NewImgFixingLib/NewImgFixingLib/packages
/NewImgFixingLib/TestStartingPr/bin
/NewImgFixingLib/TestStartingPr/obj
